@model Order

<div class="form-linear-gradient bg-linear-gradient-slow">
    <form class="form" asp-controller="Orders" asp-action="Edit">
        <h1>Editing order n°@Model.ID</h1>
        
        <label for="clientid">Choose a client :</label>
        <select id="clientid" name="clientid">
            <option value="">--Please choose an option--</option>
            @foreach(Client client in RepoTools.repoClient.ReadAll())
            {
                if(@Model.ClientID == client.ID)
                {
                    <option value="@client.ID" selected>@client.Name</option>
                }
                else
                {
                    <option value="@client.ID">@client.Name</option>
                }
            }
        </select>

        <label for="typepresta">Type Presta</label>
        <input type="text" name="typepresta" id="typepresta" value="@Model.TypePresta">

        <label for="nbjours">State</label>
        <input type="number" id="nbjours" name="nbjours" value="@Model.NbJours">

        <label for="tjmht">Average daily rate HT</label>
        <input type="number" id="tjmht" name="tjmht" value="@Model.TjmHt" step=".01">

        <label for="tva">TVA</label>
        <input type="number" id="tva" name="tva" value="@Model.TVA" step=".01">

        <label for="state">State</label>
        <input type="text" id="state" name="state" value="@Model.State">

        <label for="comment">About</label>
        <input type="text" id="comment" name="comment" value="@Model.Comment">

        <div class="bloc-actions">
            <button type="submit"><span class="material-icons">edit_note</span> Edit</button>
            <button ><span class="material-icons">delete</span> Delete</button>
        </div>
    </form>
</div>